@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900|Montserrat:300,400,500,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

$color1: rgba(85,188,186,1);
$color2: rgba(1,109,147,1);
$color3: #043A4B;

.gradient-blue{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55bcba+0,016d93+100 */
	background: rgb(85,188,186); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(85,188,186,1) 0%, rgba(1,109,147,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(85,188,186,1) 0%,rgba(1,109,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(85,188,186,1) 0%,rgba(1,109,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55bcba', endColorstr='#016d93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



.gradient-birpin{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9900+0,fd151b+100 */
	background: rgb(255,153,0); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,153,0,1) 0%, rgba(253,21,27,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,153,0,1) 0%,rgba(253,21,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255,153,0,1) 0%,rgba(253,21,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#fd151b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
					
}


.gradient-hcwork{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2888ad+1,2888ad+1,34a3c2+100 */
background: rgb(40,136,173); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(40,136,173,1) 1%, rgba(40,136,173,1) 1%, rgba(52,163,194,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(40,136,173,1) 1%,rgba(40,136,173,1) 1%,rgba(52,163,194,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(40,136,173,1) 1%,rgba(40,136,173,1) 1%,rgba(52,163,194,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2888ad', endColorstr='#34a3c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body{
	font-family: roboto;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6, a{
	font-family: Montserrat;
}

a{
	font-family: roboto;
	font-weight: 300;
}

nav{
	position: fixed;
	margin: auto;
	padding: 10px 0;
	width: 100%;
	.content{
		display: flex;
		justify-content: space-beetwen;
		align-items: center;
		.iso{
			flex: 1;
			img{
				max-width: 50px;
			}
		}
		.menu{
			flex: 1;
			ul{
				list-style: none;
				display: flex;
				justify-content: flex-end;
				li{
					margin: 0 10px;
					a{
						color: white;
						text-decoration: none;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

header{
	@extend .gradient-blue;
	position: relative;
	max-height: 500px;
	overflow: hidden;
	.no-position{
		position: unset;
	}
	.pattern{
		//background: url("../imagenes/pattern.svg");
	}

	.logo{
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		left: 50%;

	}
}




section{
	&.about{
		padding: 75px 0;
		p{
			line-height: 30px;
		}
	}


	&.copy1{
		background: $color3;
		.content{
			padding: 75px 0;
			background: url("../imagenes/pattern-gray.svg");
			background-attachment: fixed;
		

			h3{
				color: white;
				max-width: 650px;
				margin: auto;
			}
		}
	}

	&.productos{
		padding: 50px 0;

		.big{
			font-size: 30px;
		    line-height: 35px;
		    font-weight: 300;
		}
		.productos-cards{
			//display: flex;
			margin-top: 30px;
			justify-content: center;
			article{
				flex:1;
				img{
					margin: auto;
					display: block;
					margin-bottom: 30px;
				}

				ul{
					list-style: none;
					padding: 0;
					li{
						margin: 10px 0;
						span{
							margin-right: 10px;
						}
					}
				} 
			

				&.well{
					border-radius: 0;
					box-shadow: 3px 3px 1px rgba(0,0,0,0.3);
					border: none;
					padding: 40px;
					color: white !important;

					&.birpin{
						@extend .gradient-birpin;
					}

					&.hcwork{
						@extend .gradient-hcwork;
					}
				}
			}
		}
	}
}



